<section id="team">
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">المـوارد البشريــة</h2>
                <h3 class="section-subheading text-muted">تسعى الموارد البشريّة إلى تحقيق أهداف تساهم في تطور بيئة العمل
                </h3>
            </div>
        </div>
        <div id="myCarousel-two" class="carousel slide">
            <!-- Wrapper for Slides -->
            <div class="carousel-inner team-wrapper">
                <div class="item active">
                    <!-- Team Member One -->
                    <div class="col-xs-12 col-sm-4 col-md-4 team-member">

                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 team-member-bio">
                        <h3 class="team-member-name" style="word-spacing:12px;">خليفة خلف الله</h3>
                        <p class="text-muted-role">المدير</p>
                        <p class="team-text-short" style="word-spacing: 8px;">يكلف بالإشراف الفني والإداري ويتولى تنسيق مختلف الأنشطة التربوية والبيداغوجية والفنية والعلاجية والتأهيلية والترفيهية والرياضية ,تنظيم المقابلات مع الأولياء، تنظيم الملفات الإدارية، تدوين محاضر الجلسات</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#" href="https://www.facebook.com/khalifa.khalfallah.7" style="margin-left: 580px;"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="item">
                    <!-- Team Member Two -->
                    <div class="col-xs-12 col-sm-4 col-md-4 team-member">
                
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 team-member-bio">
                        <h3 class="team-member-name">هيفاء رقية</h3>
                        <p class="text-muted-role"> متصرف</p>
                        <p class="team-text-short" style="word-spacing: 8px;">مسك الحسابات المالية للفرع. </p>



                        <ul class="list-inline social-buttons">
                            <li><a href="#" href="https://www.facebook.com/haifa.regaya" style="margin-left: 580px;"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="item">
                    <!-- Team Member Three -->
                    <div class="col-xs-12 col-sm-4 col-md-4 team-member">
                       
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 team-member-bio">
                        <h3 class="team-member-name" style="word-spacing: 12px;">مروى عمامو </h3>
                        <p class="text-muted-role">مكون</p>
                        <p class="team-text-short" style="word-spacing: 8px;">الاشراف على البرامج التكوينية للاطفال . </p>
                        <ul class="list-inline social-buttons">

                            <li><a href="#" href="https://www.facebook.com/marwa.amamou.31" style="margin-left: 580px;"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="item">
                    <!-- Team Member four -->
                    <div class="col-xs-12 col-sm-4 col-md-4 team-member">

                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 team-member-bio">
                        <h3 class="team-member-name">حسناء فرج </h3>
                        <p class="text-muted-role"> مريبة مختصة</p>
                        <p class="team-text-short" style="word-spacing: 8px;">تتكفل بالتربية المختصة للأطفال ذوي القصور الذهني متوسط الدرجة من الفئة العمرية ما بين 5إلى 14 سنة.</p>
                        <ul class="list-inline social-buttons">

                            <li><a href="#" style="margin-left: 580px;"><i class="fa fa-facebook"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>



            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel-two" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel-two" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel-two" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel-two" data-slide-to="1"></li>
                <li data-target="#myCarousel-two" data-slide-to="2"></li>
                <li data-target="#myCarousel-two" data-slide-to="3"></li>

            </ol>
        </div>
    </div>
</section>