<footer>
    <div class="container-fluid wrapper">
        <div class="col-lg-12 footer-info">
            <a class="footer-logo" href="#header">
                <img class="img-responsive" src="assets/img/footer-logo.png" alt="logo-footer">
            </a>
            <p class="footer-text" style="word-spacing: 10px;">جمعية الاتحاد العام التونسي لاعانة القاصرين ذهنيا ذات طابع اجتماعي تعاوني تسعى لاكساب المنتفع أكثر ما يمكن من درجات الإستقلالية الذاتية على جميع المستويات, دعم الإدماج المدرسي و تقديم خدمات المرافقة الملائمة, تقديم خدمات التربية المختصة و
                التأهيل ,تكوين الأشخاص المعوقين و تأهيلهم مهنيا,دعم فرص تشغيل الأشخاص المعوقين و تقديم خدمات إجتماعية لفائدة المنتفعين وعائلتهم
            </p>
        </div>
        <div class="col-sm-6 col-md-12 social-icons-footer">
            <ul class="list-inline social-buttons">


                <li><a href="#" href="https://www.facebook.com/marwa.amamou.31"><i class="fa fa-facebook" ></i></a>
                </li>


            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 copyright-bottom">
            <span class="copyright">Copyright &copy; SOUISSI Ines </span>
        </div>
    </div>
</footer>