<header id="header">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:rgba(35, 39, 39, 0.103);">
        <div class="language-picker-area">
            <div class="container-fluid top-nav">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand logo-top page-scroll" href="#header">
                        <img class="img-responsive" src="assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden nav-buttons">
                            <a href="#page-top"></a>
                        </li>

                        <li>
                            <a class="page-scroll" href="#contact" style="font-size:20px">تواصل</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#testimonials" style="font-size:20px">تبرعات</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#clients" style="font-size:20px">شركاء</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#pricing" style="font-size:20px">كيفية القبول</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio" style="font-size:20px">الانشطة</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team" style="font-size:20px">المـوارد البشريــة</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services" style="font-size:20px">خدمات</a>
                        </li>






                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>


        <!-- /.container-fluid -->
    </nav>
</header>