
<!-- Slider -->
<app-slider></app-slider>



<!-- Services Section -->
<app-services></app-services>

<!-- Team Section -->
<app-team></app-team>

<!-- Portfolio Section -->
<app-portfolio></app-portfolio>

<!-- Pricing Section -->
<app-pricing></app-pricing>

<!-- Client Section -->
<app-client></app-client>


<!-- Contact Section -->
<app-contact></app-contact>

<!-- Footer -->
<app-footer></app-footer>
<!-- Scroll-up -->
<app-scrollup></app-scrollup>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="assets/img/portfolio/flattastic-free.jpg" alt="modal">
                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate,
                            maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <p>
                            <strong>Want this UI kit sample?</strong>You can download it for free, courtesy of <a href="#">edubd.net</a>, or you can download it <a href="#">here</a>.</p>
                        <ul class="list-inline">
                            <li>Date: August 9, 2013</li>
                            <li>Client: Web Designer Depot</li>
                            <li>Category: Graphic Design</li>
                        </ul>
                        <button type="button" class="btn btn-xl" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>Project Name</h2>
                        <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                        <img class="img-responsive img-centered" src="assets/img/portfolio/flat.jpg" alt="modal">
                        <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate,
                            maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                        <p>
                            <strong>Want this flat style illustrations? </strong>You can download it for free, courtesy of <a href="#">edubd.net</a>, or you can download it <a href="#">here</a>.</p>
                        <ul class="list-inline">
                            <li>Date: February 20, 2015</li>
                            <li>Client: Web Designer Depot</li>
                            <li>Category: Graphic Design</li>
                        </ul>
                        <button type="button" class="btn btn-xl" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>