<section id="pricing">
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading" style="padding-top: 50px;">كيفية القبول</h2>
                <h4 class="section-subheading" style="word-spacing: 5px;">يتم القبول بطلب من ولي التلميذ مرفوقا ب : 1مضمون ولادة ، 3 صور شمسية، ،3 نسخ من بطاقة الإعاقة ، 3 نسخ من بطاقة علاج الولي ، 1 نسخ من بطاقة تعريف الولي ، معلوم الترسيم، ملف طبي إن وجد، نسخة من دفتر التلقيح. بعد دراسة الحالة من طرف لجنة
                    القبول يتم توجيهه إلى إحدى الهياكل التربوية الملائمة لخصوصيته.</h4>
            </div>
        </div>
    </div>



</section>