<section id="services">
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">خدمات</h2>
                <h3 class="section-subheading">تعمل المؤسسة على تقديم جملة من الخدمات </h3>
            </div>
        </div>
        <div class="row text-center">
            <!-- First row services -->
            <div class="row first-services" style="word-spacing: 6px;">
                <div class="col-sm-12 col-md-4 service">
                    <i class="fa fa-wheelchair"></i>
                    <h4 class="service-heading">رعاية طبية و شبه طبية </h4>


                </div>
                <div class="col-sm-12 col-md-4 service">
                    <i class="fa fa-child"></i>
                    <h4 class="service-heading">خدمات أجتماعية</h4>

                </div>
                <div class="col-sm-12 col-md-4 service">
                    <i class="fa fa-hospital-o"></i>
                    <h4 class="service-heading">إحاطة نفسانية</h4>

                </div>
            </div>
            <!-- Second row services -->
            <div class="row second-services">
                <div class="col-sm-12 col-md-4 service">
                    <i class="fa fa-book"></i>
                    <h4 class="service-heading">خدمات بيداغوجية و تربوية</h4>

                </div>
                <div class="col-sm-12 col-md-4 service">
                    <i class="fa fa-support"></i>
                    <h4 class="service-heading">أنشطة رياضية</h4>

                </div>
                <div class="col-sm-12 col-md-4 service">
                    <i class="fa fa-puzzle-piece"></i>
                    <h4 class="service-heading">أنشطة ترفيهية</h4>

                </div>
            </div>
        </div>
    </div>
</section>