<div class="scroll-up">
    <a href="#header" class="page-scroll"><i class="fa fa-angle-up"></i></a>
</div>
<div id="theme-settings">
    <div id="settings-button">
    </div>
    <div class="color">
        <span class="settings-title">محدد لون المظهر</span>
        <ul class="gradients" style="margin-left: 25px;">
            <li>
                <div class="gradient1">
                </div>
            </li>
            <li>
                <div class="gradient2">
                </div>
            </li>
            <li>
                <div class="gradient3">
                </div>
            </li>
            <li>
                <div class="gradient4">
                </div>
            </li>
            <li>
                <div class="gradient6">
                </div>
            </li>

            <li>
                <div class="gradient7">
                </div>
            </li>



        </ul>
    </div>
</div>